.App {
	text-align: center;
}

.App-header {
	background-color: #888;
	height: 50px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}
.closeme {
	cursor: pointer;
}
.todolist span {
	display: inline-block;
	padding: 0 10px;
}
